.cards-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inspiration {
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  width: 817px;
}

.cards-row-1 {
  height: 372px;
  width: 1240px;
  display: flex;
  gap: 24px;
  margin-bottom:24px ;
}

.card-text {
  display: flex;
  gap: 107px;
  color: #434343;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  width: 262px;
  margin-left: 16px;
  /* margin-right: ; */
}

.card-text-2 {
  height: 30px;
  display: flex;
  gap: 34px;
  color: #434343;
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  width: 265px;
  margin-left: 16px;
}

.card1 {
  background: linear-gradient(124.4deg, #ffffff 10.8%, #ffffff 87.34%);
  /* FADE */

  border: 1px solid #d7d7d7;
  border-radius: 15px;
  width: 292px;
  height: 370px;
  display: flex;
  flex-direction: column;
}

.card1-img {
  width: 260px;
  height: 265px;
  margin: 16px 0px 0px 16px;
}

.stars {
  width: 92px;
  height: 12px;
  margin-left: 16px;
  margin-bottom: 16px;
}
